*{
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),url(images/background.png) ;    
}

.logo{
margin: 5% 0 8% 0;

}

.header{
    display: flex;
    height: 10%;
   

}

.header ul li{
   display: inline-block;
   margin:50px  5px 0 0;
   padding-right: 10px;
  float: right;
 
}

.header ul li a{
    text-decoration: none;
    color:#ffff;
    font-size: 15px;
    font-weight: 500;
    padding: 5px 15px;
     border:1px solid rgb(255, 255, 255) ;
     border-radius: 1px;
    
}
.header ul li a:hover{
    background-color: #fff;
    color: black
;
}
.half-width{
    width: 50%;
}
.menu-bar{
    width: 40px;height:40px;
    padding-top: 20px;
    margin: 20px 30px 0 10px;

}
